BOT_TOKEN=PASTE_ME

# polling (local) | webhook (prod-like)
BOT_MODE=polling

# needed only for webhook mode:
PUBLIC_URL=https://YOUR_PUBLIC_HTTPS_URL
WEBHOOK_PATH=/tg/webhook
WEBHOOK_SECRET=change_me_please

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/app
REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
